body{
    padding: 0;
    margin: 0;  
    box-sizing: border-box; 
    background-color: #f2f2f2;
}

.about-text, .home-text, 
.hobbies-traveling-text, 
.hobbies-hangout-text,
.hobbies-shooting-text,
.interview p  {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    word-spacing: .2em;
}

.about-text, .home-text {
    color: #446988; 
}
   
h1,
h2 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h1 { 
    font-weight: 400;
    word-spacing: .3em;
    margin: 0;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-weight: 300;
    font-size: 2em;
    word-spacing: .1em;
    margin: 0;
    text-align: left;
    padding-top: 5px;
}

/* Global */
.container {
    width: 65%;
    margin: auto;
    overflow: hidden;
}

.active {
    color: #fff;
    font-weight: bold;
}

/* Header */
header {
    background: #244357;
    color: #ADB3CD;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: none;
    position: fixed;
    z-index: 10;
    top: 0 ;
    left: 0;
    right:0;
}

header a {
    color: #8d9ec5;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    color: #fff;
}

header nav {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    float: right;
    margin-top: 0;
}

header a:hover {
    color: #fff;
    font-weight: bolder;
}

/* Welcome */
.showcase {
    background-image: url('../img/orangeocean.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 0;
    padding-top: 15%;
    text-align: center;
    color: #fff;
    font-size: 45px;
}

 h1 {
    text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
}

#home-colleagues {
    padding-bottom: 8%;
}

.home-image {
    float: left;
    width: 50%;
    padding-top: 10%;
}

.home-text, .about-text {
    float: right;
    width: 50%;
    padding-top: 10%;
    font-size: 20px;
}

/* About */
#about-page {
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: #647596; 
}

/* Hobbies */
#hobbies-traveling {
    margin-top: 5%;
}

#hobbies-traveling, #hobbies-hangout {
    background-color: #647596; 
    color: #fff; 
    font-size: 22px;
    padding-top:10%;
    padding-bottom: 10%;
}

#hobbies-shooting {
    background-color: #f2f2f2;
    color: #1F1F1F;
    font-size: 22px;
    padding-top:10%;
    padding-bottom: 10%;
}

.hobbies-traveling-text {
    padding: 15%;
}
.hobbies-shooting-text {
    padding: 8%
}

.hobbies-hangout-text {
    padding: 7%
}
.hobbies-image {
    margin: auto;
    float: left;
    width: 50%;
}

/* About-Page*/
.interview h3 {
    color: #1F1F1F;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    text-align: left;
    margin-top: 5%;
    word-spacing: .1em;
}
.interview p {
    font-size: 20px;
    color: #fff;
}

/*Footer*/
footer {
    background-color: #f2f2f2;
    padding: 1%;
    bottom: 0;
    width: 100%;
  }

footer p {
    color: #4C708A;
    text-align: center;
    font-size: 20px;
  }

/* Media Queries*/
@media (max-width: 1366px) {
    header #branding h1,
    header nav,
    header nav li,
    .showcase h1,
    .home-image,
    .home-text,
    .hobbies-image
    {
        float: none;
        align-items: center;
        width: 100%;
        text-align: center;

    }
    header {
        padding-bottom: 10px;
    }
    .showcase h1{
        font-size: 50px;;
    }
    .showcase h1, .interview {
        padding-top: 10%;
    }
    
}

